* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: #FC0DE4 #222831;
  scrollbar-width: thin;
  flex-wrap: wrap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background: #222831;
  color: white;
}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
